#container{
    height: 400px;
    width: 400px;
    background-color: whitesmoke;
    border: 2px solid lightgreen;
    border-radius: 10px;
    display: flex;
    display: wrap;
    margin: 10px auto;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: wrap;
    
}

#container div{
    height: 100px;
    width: 100px;
    font-size: 50px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: grey;
    text-align: center; 
   
}
h1{
    text-align: center;
}