*{
    color:rgb(66, 168, 134);
}


h1{
    color: rgb(227, 12, 12);
}

button{

    color: brown;
}
#headingone{
    color:rgb(29, 132, 177)
}
#headingtwo{
    color:red
}
.firstclass{
    color:rgb(28, 159, 98)
}
